/bin/
/.gradle/
/.idea/
/.settings/
/build/
/gradle/
/eclipse/
/schematics/
.classpath
.project
AfraidOfTheDark.iml
AfraidOfTheDark.ipr
AfraidOfTheDark.iws
build.gradle
gradlew
gradlew.bat
Minecraft
/MinecraftModelFiles/
/JsonGenerator1.0/
AfraidOfTheDark_Client.launch
AfraidOfTheDark_Server.launch
*.launch
*.launch