# Configuration file

##########################################################################################################
# biome_ids
#--------------------------------------------------------------------------------------------------------#
# Here you can configure Afraid of the Dark biome IDs
##########################################################################################################

biome_ids {
    # The Biome ID for the erie forest. Use this to make this mod compatable with other biome mods. [range: 5 ~ 255, default: 68]
    I:"Erie Biome ID"=68

    # The Biome ID for the nightmare. Use this to make this mod compatable with other biome mods. [range: 5 ~ 255, default: 69]
    I:"Nightmare Biome ID"=69

    # The Biome ID for the Void Chest. Use this to make this mod compatable with other biome mods. [range: 5 ~ 255, default: 70]
    I:"Void Chest Biome ID"=70
}


##########################################################################################################
# dungeon_frequency
#--------------------------------------------------------------------------------------------------------#
# Here you can set how frequently certain dungeons appear.
##########################################################################################################

dungeon_frequency {
    # This property is the percentage chance per chunk that a crypt will spawn. [range: 0.0 ~ 100.0, default: 0.5]
    S:"Crypt Frequency"=0.5

    # This property is the percentage chance per chunk that a dark forest will spawn. [range: 0.0 ~ 100.0, default: 0.4]
    S:"Dark Forest Frequency"=0.4

    # The dungeon frequency multiplier increases or decreases dungeon rarity across ALL Afraid of the Dark dungeons. (ex. 2.0 would result in double the dungeons and 0.5 in half) [range: 0.0 ~ 1000.0, default: 1.0]
    S:"Dungeon Frequency Multiplier"=1.0

    # This property is the percentage chance per chunk that a gnomish city will spawn. [range: 0.0 ~ 100.0, default: 0.4]
    S:"Gnomish City Frequency"=0.4

    # This property is the percentage chance per chunk that a spring will spawn. [range: 0.0 ~ 100.0, default: 0.32]
    S:"Spring Frequency"=0.32

    # This property is the percentage chance per chunk that a void chest will spawn. [range: 0.0 ~ 100.0, default: 0.24]
    S:"Void Chest Frequency"=0.24

    # This property is the percentage chance per chunk that a witch hut will spawn. [range: 0.0 ~ 100.0, default: 0.8]
    S:"Witch Hut Frequency"=0.8
}


general {
    # If you wish to receive all possible kinds of spammy debug messages in the console turn this on. Mostly used for developers only. [default: false]
    B:"Debug Messages"=true

    # Disable this to remove all animations from entities in the Afraid of the Dark mod. This may improve performance but mod entities will no longer have animations. [default: true]
    B:"Entity Animations Enabled"=true

    # Increase this value to increase the number of Erie Biomes. 10 is the default MC forest value. [range: 0 ~ 1000, default: 10]
    I:"Erie Biome Frequency"=10

    # Enabling this will decrease world generation performance but decrease the chance of lighting glitches in AOTD dungeons. [default: false]
    B:"World Generation Lighting Updates"=false
}


